
*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}
.container{
    display: flex;
    flex-direction: row;
}
.left{
    flex: 1;
}
.right{
    flex: 1;
}
html,body{
    background-color: #111826;
}
.container .left .top img{
    width: 168.029px;
    height: 36px;
    flex-shrink: 0;
    margin-top: 65px;
    margin-left: 108px;
}
h1{
    margin-top: 167px;
    padding-left: 107.28px;
    color: #FFF;
    font-family: FS Meridian Trial;
    font-size: 80px;
    font-style: normal;
    font-weight: 500;
    line-height: 85px; /* 106.25% */
}
.container .right .contact h6{
    cursor: pointer;
    color: #FFF;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.right .contact{
    display: flex;
    justify-content: space-between;
    margin-top: 69px;
    margin-right: 120px;
    margin-left: 174px;
}
.fauxels{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 343px;
height: 109px;
flex-shrink: 0;
background: yellow;
margin-top: 167px;
margin-left: 118.72px;
border-radius: 67px 0px 67px 67px;
position: relative;
}
.container .right .line1{
    display: flex;
}

.pexels {
    width: 352px;
    height: 216.688px;
    position: absolute;
    bottom: 0;
    border-radius: 0px 0px 67px 67px;
}

/* .container .right .fauxels .vector #vector{
width: 52px;
height: 53px;
flex-shrink: 0;
margin-left: 31px;
margin-right: 27px;
margin-bottom: 28px;
} */
.vector{
display: flex;
justify-content: center;
align-items: center;
margin-left: 27px;
width: 107px;
height: 107px;
flex-shrink: 0;
border-radius: 50%;
background: #7F3DD2;
margin-top: 182px;
margin-right: 120px;
}
.vector2{
display: flex;
justify-content: center;
align-items: center;
margin-left: 128.72px;
width: 107px;
height: 107px;
flex-shrink: 0;
border-radius: 50%;
background:#1FC77E;
margin-top: 33.5px;
margin-right: 27px;
}
.container .right .line2{
    display: flex;
    margin-top: 31px;
}
.fauxels2{
    display: flex;
    align-items: center;
    justify-content: center;
width: 333px;
height: 107px;
flex-shrink: 0;
border-radius: 67px 67px 67px 67px;
background: #F4FAFF;
position: relative;
top: 31px;
}
#kindel{
    position: absolute;
bottom: 0;
width: 231px;
height: 177px;
flex-shrink: 0;
}

.container .left .power{
height: 38px;
margin-top: 28px;
margin-left: 107.28px;
width: 353px
}
 .power h4{
    color: #FFF;
font-family: General Sans;
font-size: 32px;
font-style: normal;
font-weight: 500;
line-height: 38px; /* 118.75% */
}
.exp{
    margin-top: 8px;
    margin-left: 108px;
    height: 81px;
width: 539px
}
.exp h6{
    color: #FFF;
font-family: General Sans;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.try{
    margin-top: 27px;
    margin-left: 108px;
}
.try h5{
    color: #FFF;
font-family: General Sans;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 38px; /* 190% */
}
.start{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 35px;
    margin-left: 124px;
    width: 199px;
height: 48px;
flex-shrink: 0;
border-radius: 5px;
background: #1FC77E;
}
.start h6{
    color: #FFF;
text-align: center;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: 16px; /* 100% */
}

.right .line3{
    height: 268px;
    width: 344px;
    position: relative;
    margin-top: 49px;
margin-left: 157px;
margin-right: 119px;
}
.line3 .first{
    display: flex;
    align-items: flex-end;
    width: 467px;
height: 107px;
flex-shrink: 0;
border-radius: 53.5px 53.5px 53.5px 0px;
background: #7F3DD2;
}
.line3 .first .can{
    margin-left: 190px;
    margin-top: 15px;
    margin-bottom: 19px;
    margin-right: 24px;
    width: 253px;
height: 73px;
flex-shrink: 0;
}
.line3 .first .can h6{
margin-top: 9px;
margin-left: 19px;
    color: #F4FAFF;
font-family: General Sans;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 25px; /* 138.889% */
}
.line3 .second{
    width: 330px;
height: 108px;
flex-shrink: 0;
position: absolute;
bottom: 0;
background: #1FC77E;
border-radius: 53.5px 0px 53.5px 53.5px ;
}
.line3 .second img{
    border-radius: 0px 0px 53.5px 0px;
    position: absolute;
    bottom: 0;
    left: 0;
}
.line3 .third{
    width: 108px;
height: 108px;
transform: rotate(-90deg);
flex-shrink: 0;
border-radius: 0px 58px 58px 58px;
margin-left: 5px;
background: #FEEA00;
position: absolute;
bottom: 0;
left: 352px;
}

.phone{
    display: flex;
    justify-content: center;
    width: 1191px;
height: 600px;
flex-shrink: 0;
border-radius: 5px;
background: #000;   
margin-top: 207px;
margin-left: 124px;
margin-right: 125px;
position: relative;
}
.phone .apple{
    position: absolute;
    bottom: 0;
}
.phone .rec {
    position: absolute;
    margin-top: 178px;
}
.phone .img4{
    margin-top: 139px;
    width: 289px;
height: 462px;
flex-shrink: 0;
}

.phone .topp{    
    margin-top: 138px;
    width: 287px;
    position: absolute;
    display: flex;
padding: 13px 14px;
}
.phone h6{
    margin-left: 38.7px;
    color: #000;
text-align: center;
font-family: SF Pro Text;
font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: 100%; /* 14px */
}
.phone .rgt{
    margin-left: 135px;
}
